/* General layout */
* {
  box-sizing: border-box;
}

/* Global flex classes */
.df {
  display: flex;
}
.df-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-jcsb-aic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.df-jcsa-aic {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.df-fdc-jcc-aic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Global classes colors */
.color-white {
  color: #fff;
}
.background-white {
  background: #fff;
}
.color-blue {
  color: #00415a;
}
.background-blue {
  background: #00415a;
}
.color-red {
  color: #850000;
}
.background-red {
  background: #850000;
}

/* Global layout classes */
.padding-xxs {
  padding: 4px;
}
.h-padding-xxs {
  padding: 0 4px;
}
.v-padding-xxs {
  padding: 4px 0;
}
.padding-xs {
  padding: 8px;
}
.h-padding-xs {
  padding: 0 8px;
}
.v-padding-xs {
  padding: 8px 0;
}
.padding-s {
  padding: 12px;
}
.h-padding-s {
  padding: 0 12px;
}
.v-padding-s {
  padding: 12px 0;
}
.padding-m {
  padding: 16px;
}
.h-padding-m {
  padding: 0 16px;
}
.v-padding-m {
  padding: 16px 0;
}
.padding-l {
  padding: 24px;
}
.h-padding-l {
  padding: 0 24px;
}
.v-padding-l {
  padding: 24px 0;
}
.padding-xl {
  padding: 32px;
}
.h-padding-xl {
  padding: 0 32px;
}
.v-padding-xl {
  padding: 32px 0;
}
.padding-xxl {
  padding: 48px;
}
.h-padding-xxl {
  padding: 0 48px;
}
.v-padding-xxl {
  padding: 48px 0;
}
.margin-s {
  margin: 16px;
}
.h-margin-s {
  margin: 0 16px;
}
.v-margin-s {
  margin: 16px 0;
}
.margin-m {
  margin: 24px;
}
.h-margin-m {
  margin: 0 24px;
}
.v-margin-m {
  margin: 24px 0;
}
.margin-l {
  margin: 96px;
}
.h-margin-l {
  margin: 0 96px;
}
.v-margin-l {
  margin: 96px 0;
}